<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://xmlns.jcp.org/jsf/core"      
		xmlns:h="http://xmlns.jcp.org/jsf/html">
 
    <h:head>
        <title>Test</title>
    </h:head>
    <h:body>
    	<p>Greeting: #{simpleMessages.greeting}</p>
    </h:body>
</html>