<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://xmlns.jcp.org/jsf/core"      
		xmlns:h="http://xmlns.jcp.org/jsf/html">
 
    <h:head>
        <title>Hello</title>
    </h:head>
    <h:body>
    	<h3>Hello</h3>
    	<p>Hi #{myBean.name}</p>
    	<p>#{myBean.doSomething('Johnny')}</p>
    	<p>#{myBean.doCounting('5')}</p>
    	<p>Locale: #{myBean.localeName}</p>
    	<p>#{msg.app.greeting}</p>
    	<p>Counting: #{msg.app.countMessage(12)}</p>
    	
    	<p>
    	#{myServiceBean.serviceGreeting}
    	</p>
    </h:body>
</html>